
.menu-modal {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    z-index: 9999;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    border-radius: 8px;
}

.menu-modal input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.menu-modal label {
    background-color: #F4F6FC;
    color: #212121;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    margin: 5px 0;
    border-radius: 4px;
}

.menu-modal label:hover {
    cursor: pointer;
}

.menu-modal input:checked + label {
    background-color: #7392EE;
    color: #fff;
    box-shadow: none;
    margin: 10px 0;
    border-radius: 4px;
    font-weight: 500;
}

.menu-modal label:first-of-type {
    border-radius: 2px 0 0 2px;
}

.menu-modal label:last-of-type {
    border-radius: 0 2px 2px 0;
}

.disB{display: block!important;}

.modal-view-container {
    width: calc(100% - 220px);
    /*width: 100%;*/
    height: fit-content;
    top: 0;
    display: table;
    justify-content: center;
    align-items: center;
}
.mail-theme{
    width: 100%;
    /*text-align: center;*/
    padding: 10px 0;
    font-weight: 100;
}
.mail-theme-adv{
    font-size: 12px;
    color: #AFB3B6;
    margin: 10px 0;
}
.disN{
    display: none;
}
/*-----------------Стили писем ниже-----------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #F1F1F1;
    -webkit-font-smoothing: antialiased;
    display: flex;

}

.mail-view {
    max-width: 600px;
    background-color: white;
    z-index: 100;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #EFEFEF;
    margin: 30px auto 10px auto;
}
.unsub{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    color: #AFB3B6;
}
.unsub a{
    color: #596671;
}
.mail-header{
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    background-color: #7392EE;
    text-indent: 20px;
    color: white;
    text-transform: uppercase;
    display: none;
}
.image-block{
    margin: 40px 40px 35px 40px;
    background-color: #F4F6FC;
    border-radius: 40px;
    border: none;
}
.mail-title{
    font-size: 28px;
    font-weight: 300;
    /*width: 520px;*/
    margin: 0 40px 24px 40px;
    color: #101316;
}
.text-content{
    margin: 0 40px 24px 40px;
    font-size: 16px;
    font-weight: 300;
    color: #596671;
    line-height: 1.5;
}
.text-respect{
    margin: 0 40px 24px 40px;
    font-size: 12px;
    font-weight: 600;
    color: #596671;
    line-height: 2;
    width: 100%;
    position: relative;
}
.mail-button{
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(115, 146, 238, 0.3);
    margin: 0 auto 24px auto;
    display: block;
    text-decoration: none;
    background: linear-gradient(145deg, rgba(114,149,238,1) 50%, rgba(61,112,237,1) 100%);
}
.mail-footer-container{
    width: 520px;
    padding: 30px 40px;
    border-top: 1px solid #EFEFEF;
    margin-top: 26px;
    float: left;
}
.footer-left-side{
    float: left;
}
.footer-right-side{
    float: right;
    text-align: right;
}
.soc-icon{
    width: 16px;
    height: 16px;
    margin-right: 12px;
    display: block;
    float: left;
}
.telegram{background-image: url("telegram.svg")}
.facebook{background-image: url("facebook.svg")}
.instagram{background-image: url("instagram.svg")}
.footer-copyright{
    font-size: 12px;
    color: #AFB3B6;
    float: none;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    line-height: 1;
}
.date-text{
    font-size: 16px;
    margin: 0 40px 24px 40px;
    font-weight: 600;
    font-style: italic;
    color: #242424;
}
.comment-title{
    font-size: 12px;
    color: #748FEE;
    margin: 0 40px 10px 40px;
}
.account{
    color: #748FEE;
    font-weight: 600;
    text-decoration: none;
}
.image-block-cover{
    max-width: 520px;
    height: 215px;
    margin: 50px 40px 35px 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.avatar-cover{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.avatar{
    z-index: 99;
    border-radius: 50%;
    margin-top: 22px;
}
.creative-preview{
    border-radius: 12px;
    margin-top: 22px;
    object-fit: cover;
    background-color: #748FEE;
}
.account-name{
    font-size: 16px;
    font-weight: bold;
    color: #242424;
    margin-top: 10px;
    line-height: 1;
    z-index: 1;
}
.account-subs{
    font-size: 13px;
    color: #596671;
    margin-top: 10px;
    line-height: 1;
    z-index: 1;
}
.avatar-block{
    width: 100px;
    position: relative;
    z-index: 1;
}
.creative-badge{
    width: 150px;
    position: relative;
    z-index: 1;
}
.badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}
.alarm-green{background-image: url("alarm-green.svg");}
.alarm-link-green{background-image: url("ic_link_approve.png");}
.alarm-link-red{background-image: url("ic_link_rework.png");}
.alarm-blue{background-image: url("alarm_blue.svg");}
.alarm-red{background-image: url("alarm_red.svg");}
.campaign-info{
    margin: 0 40px 24px 40px;

}
.type-cont-title{
    font-size: 12px;
    color: #596671;
    font-weight: 600;
    margin-bottom: 10px;
}
.type-block{
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    background-color: aliceblue;
    padding: 4px 0 4px 4px;
    border-radius: 4px;
}
.post-title{
    font-size: 16px;
    color: #748FEE;
    font-weight: 300;
    width: 50%;
}
.date-title{
    line-height: 22px;
    font-size: 12px;
    color: #AFB3B6;
    font-weight: 600;
}
.flL{float: left; width: 50%; margin-bottom: 24px;}
.mobile-app-store{
    margin: 0 40px 24px 40px;
    display: table;
    position: relative;
}
.pdf-link{
    display: block;
    position: relative;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    width: 139px;
    margin-right: 24px;
    text-decoration: none;
    float: left;
}
.pdf-title{
    font-size: 10px;
    color: #596671;
    text-align: center;
    margin: 0 auto 10px auto;
    text-decoration: none;
}
.ic-pdf{
    background-image: url("ic_pdf.svg");
    width: 75px;
    height: 100px;
    margin: 10px 32px 12px 32px;
}
.store-icon{
    margin-right: 24px;
    width: 135px;
    height: 40px;
    display: block;
    background-color: #000;
    float: left;
    border-radius: 4px;
    margin-bottom: 24px;
}
.bg-apple{background-image: url("ic_ios_down.png")}
.bg-android{background-image: url("ic_andr_down.png")}
.color-blue{
    color: #748FEE;
}
.font-cash{
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .image-block, .image-block-cover{
        margin: 20px 10px;
        width: calc(100% - 20px);
    }
    .mail-title, .text-content, .text-respect, .date-text, .comment-title, .campaign-info, .mobile-app-store{
        margin: 0 10px 24px 10px;
    }
    .mail-title{
        font-size: 22px;
    }
    .avatar-cover{
        width: 100%;
        object-fit: cover;
    }
    .mail-view{
        margin: 0;
    }
    .footer-right-side{
        display: none;
    }
}
